/* 
    Document   : style
    Created on : Mar 11, 2013, 8:55:31 AM
    Author     : niraj
    Description:
        Purpose of the stylesheet follows.
*/
.left-pull{
    float:left;
}
.required{
    color:maroon;
}
#main{
    background: antiquewhite;
}

#log-out{
    float:right;
    position:relative;
    top:-24px;
    right:25px;
}
.box-border{
   
    border-radius: 5px;
}

#log-out a{
    margin:0px 5px 0px 5px;  
    text-decoration: none;
    font-weight: bold;
    color:#E37FE2;
}
#log-out font{
    color:white;
}
#passError,#userError{
    display:none;
}

#change_password{
    float:left;
}
.form_label{
    width:100px;
}

#footer{
    text-align: center;
    vertical-align: middle;
    height:100px;
}
#content{
    height:300px;
    padding:10px 25px;
    margin-left:130px;
    margin-right:130px;
    margin-top:10px;
    background-color:  #BAA69F;
    border-radius: 5px;
}
.clearfix{
    width:100%;
}

.section{
    position:relative;
    top:50px;
    float:left;
    width:300px;
    margin-left:20px;
    height:200px;
    text-align: center;
    vertical-align: middle;
    background-color:  background;
    border-radius: 5px;
}



#content a{
    text-decoration: none;
    vertical-align: middle;
    color: brown;
}

#user-info h3 a{
    text-decoration: none;
    font-size: 10pt;
    color:#BAA69F;
    
}
#user-info h3 a:hover{
    color:brown;
}
#profile-table{
    width:600px;
    position:relative;
    left:40px;
}
.profile-pic img{
    border-radius: 5px;
}

#user-list{
    
    width:100%;
    text-align: center;
    vertical-align: middle;
}
#user-list thead{
  color:maroon;  
}
#user-list tbody a{
    text-decoration: none;
    color: brown;
}
.table-form{
    margin-left: 350px;
    padding: 10px 10px 10px 60px;
    width: 400px;
     background: #BAA69F;
}
